/Elmelet
3DCompVis/Lesson1/PythonSolution/test.py
DeepNetworkDevelompent/Lesson3/FishImgDataset
DeepNetworkDevelompent/Lesson3/NoGit
DeepNetworkDevelompent/Assignment1/OBJBG
DeepNetworkDevelompent/Assignment1/background
DeepNetworkDevelompent/Assignment1/Object
DeepNetworkDevelompent/Assignment1/Labor
DeepNetworkDevelompent/Assignment1/root
*.zip
*.wav
*jpg
*.pdf
/ImageandSignal/Assignment/bead.m
/ImageandSignal/Assignment/audio_30_analysis.m
*.png
*.json
*.txt
*.xml
*.yaml
/ARI/KITTI
*.pth
*/.vs/
*.sqlite
*.vsidx
*.wsuo
*.suo
*.db
3DCompVis/Lesson1/App1/IntroProject/.vs
*.ipch
*.recipe
3DCompVis/Lesson1/IntroductionGUI/x64/Debug/
3DCompVis/Lesson1/x64/Debug/
3DCompVis/Lesson1/App1/IntroProject/.vs/IntroProject/v17/.suo
3DCompVis/Lesson1/App1/IntroProject/.vs/IntroProject/v17/Browse.VC.db
DeepNetworkDevelompent/Assignment2/runs/flick/events.out.tfevents.1732268448.DESKTOP-FST6ME6.18900.0
DeepNetworkDevelompent/Assignment2/runs/flick/events.out.tfevents.1732268223.DESKTOP-FST6ME6.25792.0
DeepNetworkDevelompent/Assignment2/runs/flick/events.out.tfevents.1732268014.DESKTOP-FST6ME6.19116.0
DeepNetworkDevelompent/Assignment2/runs/flick/events.out.tfevents.1732267833.DESKTOP-FST6ME6.24852.0
3DCompVis/Lesson3/AffineTrans/.vs/EmptyProject/v17/ipch/AutoPCH/4a7a2b0de8e4b49b/EMPTYPROJECT.ipch
3DCompVis/Lesson3/AffineTrans/.vs/EmptyProject/v17/Browse.VC.db
ImageandSignal/Assignment3/__pycache__/detection.cpython-310.pyc
ImageandSignal/Assignment3/best.onnx
ImageandSignal/Assignment3/LicensePlateDetection/LicensePlate/events.out.tfevents.1732959751.DESKTOP-FST6ME6.18508.0
ImageandSignal/Assignment3/LicensePlateDetection/LicensePlate5/events.out.tfevents.1732960031.DESKTOP-FST6ME6.19260.0
ImageandSignal/Assignment3/LicensePlateDetection/LicensePlate5/results.csv
ImageandSignal/Assignment3/LicensePlateDetection/LicensePlate5/weights/best.onnx
ImageandSignal/Assignment3/LicensePlateDetection/LicensePlate5/weights/best.pt
ImageandSignal/Assignment3/LicensePlateDetection/LicensePlate5/weights/last.pt
ImageandSignal/Assignment3/python/yolo11n.pt
ImageandSignal/Assignment3/train/labels.cache
ImageandSignal/Assignment3/valid/labels.cache
