/Elmelet
3DCompVis/Lesson1/PythonSolution/test.py
DeepNetworkDevelompent/Lesson3/FishImgDataset
DeepNetworkDevelompent/Lesson3/NoGit
DeepNetworkDevelompent/Assignment1/OBJBG
DeepNetworkDevelompent/Assignment1/background
DeepNetworkDevelompent/Assignment1/Object
*.zip
*.wav
*jpg
*.pdf
/ImageandSignal/Assignment/bead.m
/ImageandSignal/Assignment/audio_30_analysis.m
*.png
*.json